/* Coolors Exported Palette - https://coolors.co/000131-530038-c3013d-fb2b31-fa7239-92e4fd-015db9 */

/* CSS HEX */
--oxford-blue: #000131ff;
--tyrian-purple: #530038ff;
--red-ncs: #c3013dff;
--red-cmyk: #fb2b31ff;
--orange-crayola: #fa7239ff;
--non-photo-blue: #92e4fdff;
--denim: #015db9ff;

/* CSS HSL */
--oxford-blue: hsla(239, 100%, 10%, 1);
--tyrian-purple: hsla(320, 100%, 16%, 1);
--red-ncs: hsla(341, 99%, 38%, 1);
--red-cmyk: hsla(358, 96%, 58%, 1);
--orange-crayola: hsla(18, 95%, 60%, 1);
--non-photo-blue: hsla(194, 96%, 78%, 1);
--denim: hsla(210, 99%, 36%, 1);

/* SCSS HEX */
$oxford-blue: #000131ff;
$tyrian-purple: #530038ff;
$red-ncs: #c3013dff;
$red-cmyk: #fb2b31ff;
$orange-crayola: #fa7239ff;
$non-photo-blue: #92e4fdff;
$denim: #015db9ff;

/* SCSS HSL */
$oxford-blue: hsla(239, 100%, 10%, 1);
$tyrian-purple: hsla(320, 100%, 16%, 1);
$red-ncs: hsla(341, 99%, 38%, 1);
$red-cmyk: hsla(358, 96%, 58%, 1);
$orange-crayola: hsla(18, 95%, 60%, 1);
$non-photo-blue: hsla(194, 96%, 78%, 1);
$denim: hsla(210, 99%, 36%, 1);

/* SCSS RGB */
$oxford-blue: rgba(0, 1, 49, 1);
$tyrian-purple: rgba(83, 0, 56, 1);
$red-ncs: rgba(195, 1, 61, 1);
$red-cmyk: rgba(251, 43, 49, 1);
$orange-crayola: rgba(250, 114, 57, 1);
$non-photo-blue: rgba(146, 228, 253, 1);
$denim: rgba(1, 93, 185, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-right: linear-gradient(90deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-bottom: linear-gradient(180deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-left: linear-gradient(270deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-top-right: linear-gradient(45deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-bottom-right: linear-gradient(135deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-top-left: linear-gradient(225deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-bottom-left: linear-gradient(315deg, #000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);
$gradient-radial: radial-gradient(#000131ff, #530038ff, #c3013dff, #fb2b31ff, #fa7239ff, #92e4fdff, #015db9ff);