:root {
  box-sizing: border-box;

  --oxford-blue: #000131ff;
  --tyrian-purple: #530038ff;
  --red-ncs: #c3013dff;
  --red-cmyk: #fb2b31ff;
  --orange-crayola: #fa7239ff;
  --non-photo-blue: #92e4fdff;
  --denim: #015db9ff;

  --color-100: #fff;
  --color-120: #efefef;
  --color-150: #E5E5E5;
  --color-200: #d5d5d5;
  --color-300: #989898;
  --color-350: #999;
  --color-800: #575756;

  --color-dominant: var(--oxford-blue);
  --color-complement: var(--non-photo-blue);
  --color-contrast: var(--denim);
  --color-accent-A: var(--orange-crayola);
  --color-accent-B: var(--tyrian-purple);

  /* --gradient: linear-gradient(
      0deg, 
      rgba(2,0,36,1) 0%, rgba(83,0,56,1) 12%, 
      rgba(195,1,61,1) 12%, rgba(195,1,61,1) 24%, 
      rgba(251,43,49,1) 24%, rgba(251,43,49,1) 36%, 
      rgba(250,114,57,1) 36%, rgba(250,114,57,1) 50%, 
      rgba(146,228,253,1) 50%, rgba(1,93,185,1) 100%
  ); */

  --gradient: linear-gradient(
      0deg, 
      rgba(146,228,253,1) 0%, rgba(1,93,185,1) 100%
  );

  --top-menu-size: 2.5rem;
  --activity-bar-size: 3rem;

  --elevation: 1.0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-dominant);
  background-color: var(--color-complement);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  margin: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */