:root {
  --color-dominant: #ffffff;
  --color-complement: #f0f0f0;
  --color-contrast: #003c4d;
  --color-accent-A: #ff4538;
  --color-accent-B: #119DA4;

  --color-100: #fff;
  --color-120: #efefef;
  --color-150: #E5E5E5;
  --color-200: #d5d5d5;
  --color-300: #989898;
  --color-350: #999;
  --color-800: #575756;

  --top-menu-size: 2.5rem;
  --activity-bar-size: 3rem;

  --elevation: 1.0;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
